@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --font-popins: "Poppins", sans-serif;
    --font-Libre-Caslon-Text: "Libre Caslon Text", serif;
    --white-color: #ffffff;
    --text-color: #555555;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

#main {
    background: #F4F4F4;
}

/* NAV START */
header {
    padding: 0 5vw;
    height: 70px;
    /* background: var(--white-color); */
    position: sticky;
    top: 0;
    background: var(--white-color);
    z-index: 5;
}

header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

header nav .nav__logo .large__logo {
    font-size: 32px;
    color: #202020;
}

header nav .nav__logo .small__logo {
    font-size: 20px;
    color: #202020;
}

header nav .nav__logo {
    font-family: var(--font-Libre-Caslon-Text);
    position: relative;
    /* border-image-source: ;/ */
}

header nav .nav__logo::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;

}

header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: var(--font-popins);
    font-size: 14px;
    gap: 2rem;
}

header nav .close__nav-btn {
    display: none;
}

header nav .open__nav-btn {
    display: none;
}

/* NAV ENDS */


/* HERO SECTION START */
#hero__section {
    /* min-height: 100vh; */
    height: 100%;
    background: url('../Assets/Images/pexels-katrin-bolovtsova-6077326\ 1.webp') no-repeat;
    background-position: center;
    background-size: cover;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    padding: 5rem 5vw 12rem 5vw;
}

#hero__section.hero__section-main {
    padding-bottom: 7rem;
    padding-top: 7rem;
}

#hero__section .hero__section-container {
    max-width: 500px;
    /* background-color: red; */
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--white-color);
}


#hero__section .hero__section-container.hero__ms {
    max-width: 700px;
    width: 100%;
}

#hero__section h4 {
    font-size: 24px;
    font-family: var(--font-popins);
}

#hero__section h1 {
    font-size: 128px;
    font-family: var(--font-popins);
    line-height: 1;
}


#hero__section h1.a_heading {
    color: #F0F0F0;
    text-align: center;
    font-size: 85px;
    font-weight: 600;
    line-height: 95.9% /* 86.31px */;
    letter-spacing: 3px;
}

#hero__section h3 {
    font-size: 48px;
    font-family: var(--font-popins);
    line-height: 1;
}

#hero__section .hero__section-container p {
    font-family: var(--font-Libre-Caslon-Text);
    font-size: 16px;
    margin: 1rem 0;
    line-height: 1.4;
}



#hero__section p.hero__para {
    font-family: var(--font-popins) !important;
    font-size: 16px;
}

#hero__section .hero__section-container .know__more a {
    text-transform: uppercase;
    font-family: var(--font-popins);
    font-size: 15px;
    font-weight: 600;
    color: transparent;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    position: relative;
}

#hero__section .hero__section-container .know__more a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
}

#hero__section .hero__section-container .hero__section-show__line {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--white-color);
    margin-top: 1rem;
    position: relative;
}

#hero__section .hero__section-container .hero__section-show__line.bg-line::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background: var(--white-color);
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
}

#hero__section .hero__section-container .hero__section-show__line.bg-line::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background: var(--white-color);
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
}

/* HERO SECTION ENDS */


/* LEADER SECTION START */
#leader__section {
    max-width: 1156px;
    background-color: var(--white-color);
    margin: auto;
    width: 90%;
    height: 100%;
    padding: 1rem 3rem 1rem 1rem;
    -webkit-box-shadow: 0px 4px 10px 0px #00000040;
    box-shadow: 0px 4px 10px 0px #00000040;
    border-radius: 5px;

    position: relative;
    top: -6rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 2rem;
}

#leader__section .leader__section-left {
    width: 540px;
    background-color: #F9F9F9;
}

#leader__section .leader__section-left img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#leader__section .leader__section-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: first baseline;
    -ms-flex-align: first baseline;
    align-items: first baseline;
    min-height: 320px;
    height: 100%;
}

#leader__section .leader__section-right.unset {
    min-height: unset;
    gap: 2rem;
}

#leader__section .leader__section-right h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: var(--font-popins);
    position: relative;
}

#leader__section .leader__section-right h3::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    left: 0;
    bottom: -10px;
    border-radius: 20px;
}

#leader__section .leader__section-right p {
    font-size: 16px;
    color: var(--text-color);
    line-height: 27px;
    max-width: 90%;
    width: 100%;
    font-weight: 400;
    font-family: var(--font-popins);
}

#leader__section .leader__section-right h4 {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 4px;
    color: var(--text-color);
    font-weight: 400;
    font-family: var(--font-popins);
    text-transform: uppercase;
}

/* LEADER SECTION ENDS */


/* PRACTICE SECTION START */
#practice__section {
    padding: 0 2rem;
}

#practice__section.practice__section {
    padding: 3rem 2rem;
}

#practice__section>h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #A8A8A8;
    font-size: 13px;
    font-family: var(--font-popins);
    letter-spacing: 3px;
    margin-bottom: 10px;
}


#practice__section>h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 36px;
    font-family: var(--font-popins);
    margin-bottom: 2rem;
}

#practice__section .practice__section-main {
    background: #F5F5F5;
    -webkit-box-shadow: 0px 4px 10px 0px #00000040 inset;
    box-shadow: 0px 4px 10px 0px #00000040 inset;
    padding: 1.5rem;
    border-radius: 10px;
}

#practice__section .practice__section-container {
    gap: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: repeat(3, 1fr);

}

#practice__section .practice__section-container .practice__section__container-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: .8rem;
    text-align: center;
    padding: 1rem;
    background: var(--white-color);
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 20px -5px #00000040;
    box-shadow: 0px 2px 20px -5px #00000040;
}

#practice__section .practice__section-container .practice__section__container-box .practice__image {
    width: 64px;
    height: 64px;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    border-radius: 50%;
    -webkit-box-shadow: 0px 4px 4px 0px #00000040 inset;
    box-shadow: 0px 4px 4px 0px #00000040 inset;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#practice__section .practice__section-container .practice__section__container-box .practice__image img {
    -webkit-filter: brightness(200%);
    filter: brightness(200%);
    width: 43px;
    height: 43px;
    -o-object-fit: cover;
    object-fit: cover;
}

#practice__section .practice__section-container .practice__section__container-box h5 {
    font-size: 15px;
    text-transform: uppercase;
    color: #454545;
    letter-spacing: 3px;
    font-family: var(--font-popins);
    font-weight: 600;
}

#practice__section .practice__section-container .practice__section__container-box p {
    font-size: 16px;
    color: #444444;
    line-height: 27px;
    font-family: var(--font-popins);
    font-weight: 400;
}

#practice__section .practice__section-container .practice__section__container-box a {
    display: block;
    color: transparent;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    background-clip: var(--text-color);
    -webkit-background-clip: text;
    font-size: 15px;
    font-weight: 600;
    font-family: var(--font-popins);
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
}

#practice__section .practice__section-container .practice__section__container-box a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 3px;
    right: 0;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
}

#practice__section .practice__section-main .practice__explore {
    display: block;
    width: 100%;
    background: var(--white-color);
    -webkit-box-shadow: 0px 2px 10px -2px #00000040;
    box-shadow: 0px 2px 10px -2px #00000040;
    margin-top: 1rem;
    border-radius: 5px;
    overflow: hidden;
}

#practice__section .practice__section-main .practice__explore a {
    color: transparent;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    background-clip: text;
    -webkit-background-clip: text;

    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: var(--font-popins);
    text-align: center;
    display: block;
    padding: 10px 0;
}

#practice__section .practice__section-main .practice__explore a:hover {
    color: var(--white-color);
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
}

/* PRACTICE SECTION ENDS */


/* EXPERTICE SECTION START */
#expertice__section {
    padding: 4rem 5vw;
}

#expertice__section.expertice__section {
    padding-top: 0;
}

#expertice__section>h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-popins);
    line-height: 28px;
    text-align: center;
    position: relative;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#expertice__section>h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -9px;
    right: 0;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    border-radius: 5px;
}

#expertice__section>p {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    color: #6D6D6D;
    font-family: var(--font-popins);
    margin: 2rem 0;
}

#expertice__section .expertice__section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 4vw;
}

#expertice__section .expertice__section-container img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#expertice__section .expertice__section-container .expertice-boxs {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
}

#expertice__section .expertice__section-container .expertice-boxs:hover .expertice__content {
    background: transparent;
}

#expertice__section .expertice__section-container .expertice__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(87, 87, 87, 0.3);
    color: var(--white-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    font-family: var(--font-popins);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

#expertice__section .expertice__section-container .expertice__content h3 {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
}

#expertice__section .expertice__section-container .expertice__content p {
    font-size: 15px;
    line-height: 25px;
    color: #C9C9C9;
}

/* EXPERTICE SECTION ENDS */



/* CLIENT SECTION START */
#client__section {
    /* min-height: 100vh; */
    background: url('../Assets/Images/pexels-katrin-bolovtsova-6077123\ 1.png') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 3rem;
    height: 100%;
}

#client__section .client__section-top-content {
    max-width: 690px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: auto;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    padding: 1.5rem 4vw;
}

#client__section .client__section-top-content h4 {
    color: transparent;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    background-clip: text;
    -webkit-background-clip: text;
    font-family: var(--font-popins);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

#client__section .client__section-top-content h3 {
    font-size: 33px;
    color: var(--white-color);
    letter-spacing: 1px;
    font-weight: 700;
    font-family: var(--font-popins);
}

#client__section .client__section-top-content p {
    line-height: 29px;
    color: #C4C4C4;
    font-family: var(--font-popins);
    font-weight: 500;
}

#client__section .client__section-bottom-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 5vw;
    margin-top: 3rem;
    font-family: var(--font-popins);
}



#client__section .client__section-bottom-content h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: var(--white-color);
}

#client__section .client__section-bottom-content p {
    color: transparent;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    font-size: 32px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
}

/* CLIENT SECTION ENDS */


/* MISSION SECTION START */

#mission__section {
    padding: 4rem 5vw;
}

#mission__section .container {
    max-width: 800px;
    /* background: var(--white-color); */
    padding: 30px;
    margin: auto;
}

#mission__section .container .tab_box {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: var(--white-color);
    padding: 7px;
    border-radius: 30px;
    margin: auto;
    margin-bottom: 2rem;
}

#mission__section .container .tab_box .tab_btn {
    padding: 7px 30px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
    z-index: 1;
    background: transparent;
    outline: none;
    border: none;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    font-size: 17px;
    font-family: var(--font-Libre-Caslon-Text);
    color: #202020;
    font-weight: 600;
}

#mission__section .container .tab_box .tab_btn.active {
    color: var(--white-color);
}

#mission__section .container .content_box {
    padding: 20px;
}

#mission__section .container .content_box .content {
    background: var(--white-color);
    background: -o-linear-gradient(354deg, #FFD424 16.95%, #F47E11 79.66%);
    background: linear-gradient(96deg, #FFD424 16.95%, #F47E11 79.66%);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 7px;
    display: none;
    -webkit-animation: moving 1s ease;
    animation: moving 1s ease;
    border-radius: 5px;
    overflow: hidden;
}

#mission__section .container .content_box .content .mission__content-box {
    background: var(--white-color);
    border-bottom: 1px solid var(--text-color);
    padding: 2rem;
}

@-webkit-keyframes moving {
    from {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    top {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moving {
    from {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    top {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

#mission__section .container .content_box .content.active {
    display: block;
}

#mission__section .container .content_bg {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 129px;
    height: 35px;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    border-radius: 30px;
}

#mission__section .container .images {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: -o-linear-gradient(354.24deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    -webkit-box-shadow: 0px 4px 4px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
}

#mission__section .container .images span {
    display: block;
    width: 70px;
    height: 70px;
    background: var(--white-color);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#mission__section .container .images span img {
    width: 100%;
}

#mission__section .container .images.mission span img {
    width: 60%;
}

#mission__section .container .images.values span img {
    width: 70%;
}

#mission__section .container h2 {
    font-size: 36px;
    font-weight: 600;
    color: #111111;
    font-family: var(--font-popins);
    text-align: center;
    margin-top: 1rem;
}

#mission__section .container p {
    font-size: 18px;
    font-weight: 400;
    color: #222222;
    line-height: 28px;
    font-family: var(--font-popins);
    text-align: center;
}

/* MISSION SECTION ENDS */


/* PERTNERS SECTION START */
#pertners__section {
    background: -webkit-gradient(linear, left top, right top, color-stop(-0.87%, #202020), color-stop(51.94%, rgba(32, 32, 32, 0.65)), color-stop(99.91%, #202020));
    background: -o-linear-gradient(left, #202020 -0.87%, rgba(32, 32, 32, 0.65) 51.94%, #202020 99.91%);
    background: linear-gradient(90deg, #202020 -0.87%, rgba(32, 32, 32, 0.65) 51.94%, #202020 99.91%);
    padding: 3rem 3vw;
}

#pertners__section h2 {
    font-size: 40px;
    font-family: var(--font-popins);
    font-weight: 500;
    color: var(--white-color);
    text-align: center;
    line-height: 25.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#pertners__section h3 {
    text-align: center;
    font-size: 15px;
    font-family: var(--font-popins);
    font-weight: 500;
    line-height: 25.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: -o-linear-gradient(354deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(96deg, #FFCF24 16.95%, #F47E11 79.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1rem 0;
}

#pertners__section .pertners__section-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2.5rem;
    margin: 2rem 0;
}

#pertners__section .pertners__section-top .pertners__section-top_box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

#pertners__section .pertners__section-top .pertners__section-top_box:nth-child(1) {
    width: 278px;
    height: 360px;
    background: url('../Assets/Images/Frame\ 24.jpg') no-repeat center / cover;
}

#pertners__section .pertners__section-top .pertners__section-top_box:nth-child(2) {
    width: 278px;
    height: 360px;
    background: url('../Assets/Images/Frame\ 25.jpg') no-repeat center / cover;
}

#pertners__section .pertners__section-top .pertners__section-top_box:nth-child(3) {
    width: 278px;
    height: 360px;
    background: url('../Assets/Images/Frame\ 26.jpg') no-repeat center / cover;
}

#pertners__section .pertners__section-top_box>div {
    width: 100%;
    font-family: var(--font-popins);
    background: -o-linear-gradient(1deg, #FFD12D 0%, #F47E11 98.42%);
    background: linear-gradient(89deg, #FFD12D 0%, #F47E11 98.42%);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-bottom: 1.5rem;
}

#pertners__section .pertners__section-top .pertners__content h4 {
    color: #111111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 3px;
}

#pertners__section .pertners__section-top .pertners__content p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 3px;
    color: #555454;
    width: 100%;
    display: block;
}

#pertners__section .pertners__section-top .pertners__content {
    background: var(--white-color);
    width: 100%;
    height: 100%;
    padding: 18px 10px 37px 10px;
}

#pertners__section .center__bg-line {
    max-width: 991px;
    width: 100%;
    height: 8px;
    border-radius: 57px;
    background: -o-linear-gradient(354deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(96deg, #FFCF24 16.95%, #F47E11 79.66%);
    margin: auto;
    margin-bottom: 2.5rem;
}

#pertners__section .pertners__section-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 2rem;
}

#pertners__section .pertners__section-bottom .pertners__section-bottom_box {
    width: 200px;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 10px;
    /* background: #FFF; */
}

#pertners__section .pertners__section-bottom .pertners__section-bottom_box h4 {
    font-size: 16px;
    background: -o-linear-gradient(354deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(96deg, #FFCF24 16.95%, #F47E11 79.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: var(--font-popins);
    text-align: center;
}

#pertners__section .pertners__section-bottom .pertners__section-bottom_box p {
    color: #8E8E8E;
    text-align: center;
    font-family: var(--font-Libre-Caslon-Text);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px
        /* 150% */
    ;

}

#pertners__section .pertners__section-bottom .chairman__image {
    background-color: #6D6D6D;
    width: 100%;
    height: 170px;
}

#pertners__section .pertners__section-bottom .chairman__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pertners__section .pertners__section-bottom .pertners__content-bottom {
    background: var(--white-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 5px;
}

#pertners__section .pertners__section-bottom .pertners__section-gr {
    background: -o-linear-gradient(1deg, #FFD12D 0%, #F47E11 98.42%);
    background: linear-gradient(89deg, #FFD12D 0%, #F47E11 98.42%);
    padding-bottom: 7px;
}

.bottom__bg-line {
    width: 100%;
    height: 8px;
    border-radius: 57px;
    background: -o-linear-gradient(354deg, #FFCF24 16.95%, #F47E11 79.66%);
    background: linear-gradient(96deg, #FFCF24 16.95%, #F47E11 79.66%);
    margin-top: 2rem;
}

/* PERTNERS SECTION ENDS */


/* BLOG SECTION START */
#blog__section {
    padding: 3rem 0;
}

#blog__section h2 {
    color: #222;
    text-align: center;
    font-family: var(--font-Libre-Caslon-Text);
    font-size: 32px;
    font-weight: 600;
    white-space: nowrap;
}

#blog__section .blog__section-top-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#blog__section .blog__section-top-heading span {
    width: 100%;
    height: 6px;
    background: -o-linear-gradient(354deg, #FFCF24 16.95%, #F47E11 79.66%), -o-linear-gradient(top, #FFCF24 0%, #F4B411 100%);
    background: linear-gradient(96deg, #FFCF24 16.95%, #F47E11 79.66%), linear-gradient(180deg, #FFCF24 0%, #F4B411 100%);
}

#blog__section .blog__section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 5vw;
    -moz-column-gap: 5vw;
    column-gap: 5vw;
    row-gap: 2rem;

    margin: 3rem 0;
}

#blog__section .blog__section-container .blog__section-box {
    width: 300px;
    border-radius: 8px;
    background: -o-linear-gradient(354deg, #FFCF24 16.95%, #F47E11 79.66%), #D9D9D9;
    background: linear-gradient(96deg, #FFCF24 16.95%, #F47E11 79.66%), #D9D9D9;
    padding-bottom: 7px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

#blog__section .blog__section-container .blog__section-box>div {
    background: var(--white-color);
    padding: 1rem;
}

#blog__section .blog__section-container .blog__section-box .blog__image {
    height: 230px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

#blog__section .blog__section-container .blog__section-box .blog__image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#blog__section .blog__section-container .blog__section-box h3 {
    color: #222;
    font-family: var(--font-popins);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;

}

#blog__section .blog__section-container .blog__section-box p {
    width: 266px;
    height: 47px;

    -ms-flex-negative: 0;

    flex-shrink: 0;
    color: #222;
    font-family: var(--font-popins);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
        /* 133.333% */
    ;

}

#blog__section .blog__section-explore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;

    max-width: 1140px;
    width: 90%;
    border-radius: 20px;
    border: 1px solid #FFCF24;
    background: #FFF;
    color: #222;
    text-align: center;
    font-family: var(--font-popins);
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    overflow: hidden;
}

#blog__section .blog__section-explore a {
    display: block;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-family: var(--font-popins);
    font-size: 20px;
    font-weight: 600;
    color: transparent;
    background: -o-linear-gradient(354deg, #FFCF24 16.95%, #F47E11 79.66%), -o-linear-gradient(top, #FFCF24 0%, #F4B411 100%);
    background: linear-gradient(96deg, #FFCF24 16.95%, #F47E11 79.66%), linear-gradient(180deg, #FFCF24 0%, #F4B411 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

#blog__section .blog__section-explore a:hover {
    color: var(--white-color) !important;
    background: -o-linear-gradient(354deg, #FFCF24 16.95%, #F47E11 79.66%), -o-linear-gradient(top, #FFCF24 0%, #F4B411 100%);
    background: linear-gradient(96deg, #FFCF24 16.95%, #F47E11 79.66%), linear-gradient(180deg, #FFCF24 0%, #F4B411 100%);
}

/* BLOG SECTION ENDS */


/* CONTACT SECTION START */
#contact__section {
    padding: 0 4vw 3rem 4vw;
}

#contact__section .contact__section-heading {
    max-width: 1250px;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(1deg, rgba(255, 207, 36, 0.10) 0%, #FFD12D 38.44%, #F47E11 61.37%, rgba(244, 126, 17, 0.10) 98.42%), #F4F4F4;
    background: linear-gradient(89deg, rgba(255, 207, 36, 0.10) 0%, #FFD12D 38.44%, #F47E11 61.37%, rgba(244, 126, 17, 0.10) 98.42%), #F4F4F4;
    border-radius: 15px;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25) inset;
    margin: auto;
    padding: 3rem 2rem 2rem 2rem;
}

#contact__section .contact__section-heading h2 {
    color: var(--white-color);
    text-align: center;
    font-family: var(--font-popins);
    font-size: 36px;
    font-weight: 500;
    line-height: 25.5px
        /* 70.833% */
    ;
    letter-spacing: 2px;
    text-transform: uppercase;

}

#contact__section .contact__section-heading img {
    width: 130px;
    height: 70.417px;
    margin: 1.5rem auto;
    display: block;

}

#contact__section .contact__section-heading p {
    max-width: 1043px;
    width: 100%;

    color: #383838;
    text-align: center;
    font-family: var(--font-popins);
    font-size: 20px;
    font-weight: 500;
    line-height: 28.9px
        /* 144.5% */
    ;
    margin: auto;
}

#contact__section .contact__section-heading .contact__line {
    max-width: 767px;
    width: 100%;
    height: 2px;
    background: var(--white-color);
    margin: 1.5rem auto;
    position: relative;
}

#contact__section .contact__section-heading .contact__line::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    background: var(--white-color);
}

#contact__section .contact__section-heading .contact__line::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    background: var(--white-color);
}

#contact__section .contact__section-heading form {
    max-width: 650px;
    width: 100%;
    margin: auto;
    font-family: var(--font-popins);
}

#contact__section .contact__section-heading form .contact__form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
}

#contact__section .contact__section-heading form .contact__form input {
    border: none;
    outline: none;
    padding: 11px 15px;
    border-radius: 10px;
    font-size: 16px;
    background: #FFF;
    -webkit-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.25) inset, 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.25) inset, 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

#contact__section .contact__section-heading form button {
    border: none;
    outline: none;
    background: var(--white-color);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 35px;
    margin: auto;
    display: block;
    margin-top: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
}

#contact__section .contact__section-heading form button span {
    background: -o-linear-gradient(354deg, #FFCF24 16.95%, #F47E11 79.66%), #D9D9D9;
    background: linear-gradient(96deg, #FFCF24 16.95%, #F47E11 79.66%), #D9D9D9;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: var(--font-popins);
    font-weight: 600;
}

#contact__section .contact__section-heading.get-in-touch {
    position: relative;
    top: -70px;
    width: 90%;
}

#contact__section .contact__periouds h2 {
    text-align: center;
    font-family: var(--font-popins);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}

#contact__section .contact__periouds {
    max-width: 500px;
    margin: auto;
    position: relative;
}

#contact__section .contact__periouds::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -10px;
    right: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), linear-gradient(96deg, #FFCF24 16.95%, #F47E11 79.66%);
    border-radius: 20px;
}

#contact__section .contact__center-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2.5rem 0;
}

#contact__section .contact__center-section .contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 5px;
}

#contact__section .contact__center-section .contact-box:nth-child(2)::after {
    width: 1px;
    height: 70%;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    background: var(--text-color);
    transform: translateY(-50%);
}

#contact__section .contact__center-section .contact-box:nth-child(2)::before {
    width: 1px;
    height: 70%;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    background: var(--text-color);
    transform: translateY(-50%);
}

#contact__section .contact__center-section .contact-box .images {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--text-color);
    margin-bottom: 10px;
}

#contact__section .contact__center-section .contact-box h3 {
    color: #212121;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.8%;
    text-transform: uppercase;
   
}

#contact__section .contact__center-section .contact-box p {
    color: #212121;
    font-family: var(--font-popins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.8%
   
}

#contact__section .contact__section-bottom {
    border-radius: 0px 0px 30px 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), linear-gradient(96deg, #FFCF24 16.95%, #F47E11 79.66%);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 2rem 0;
}

#contact__section .contact__section-bottom > h2 {   
    flex-shrink: 0;
    color: var(--white-color);
    text-align: center;
    font-family: var(--font-Libre-Caslon-Text);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
   
}

#contact__section .contact-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 3vw;
    
}

#contact__section .contact-container .bottom-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    padding: 20px 0;
    position: relative;
}

#contact__section .contact-container .bottom-box:nth-child(2)::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    height: 100%;
    background: var(--white-color);
}

#contact__section .contact-container .bottom-box:nth-child(2)::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    height: 100%;
    background: var(--white-color);
}

#contact__section .contact-container .bottom-box p {   
    flex-shrink: 0;
    color: #222;
    text-align: center;
    font-family: var(--font-Libre-Caslon-Text);
    font-size: 12px;
    font-weight: 600;
   
}

#contact__section .contact-container .bottom-box a {
    color: var(--white-color);
}

#contact__section .contact-container .bottom-box a svg {
    width: 2rem;
    height: 2rem;
}

/* CONTACT SECTION ENDS */



/* FOOTER SECTION START */
#footer__section {
    background: #1D1D1D;
    padding: 3rem 5vw;
}

#footer__section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 370px;
    grid-template-columns: 1fr 1fr 1fr 370px;
    /* place-items: start; */
}

#footer__section .footer__container:nth-child(1) {
    max-width: 270px;
    width: 100%;
    padding-top: 1rem;
    /* background-color: red; */
}

#footer__section .footer__container:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* background-color: red; */
    width: 100%;
    gap: 1.5rem;
    max-width: 800px;
}

#footer__section .footer__container:nth-child(2) {
    border-right: 1px solid rgba(255, 255, 255, 0.20);
    max-width: 250px;
    padding: 1rem 2rem;
}

#footer__section .footer__container:nth-child(3) {
    border-right: 1px solid rgba(255, 255, 255, 0.20);
    max-width: 250px;
    width: 100%;
    padding: 0 2rem;
}

#footer__section .footer__container .footer__logo .footer__top {
    font-size: 48px;
    color: var(--white-color);
    font-family: var(--font-popins);
    font-weight: 600;
    line-height: 40px;
}

#footer__section .footer__container .footer__logo .footer__bottom {
    font-size: 30px;
    font-family: var(--font-popins);
    color: var(--white-color);
    font-weight: 600;
    border-bottom: 1px solid var(--text-color);
    line-height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 4px;
}

#footer__section .footer__container:nth-child(1) p {
    color: 16px !important;
    font-weight: 400;
    font-family: var(--font-popins);
    color: #959595;
    margin: 10px 0;
    text-align: start;
}

#footer__section .footer__container .social__media-links a svg {
    display: inline-block;
    margin-right: 5px;
    color: var(--white-color);
}

#footer__section .footer__container.practice__areas h3 {
    color: #FFF;
    font-family: var(--font-popins);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px
        /* 120% */
    ;

}

#footer__section .footer__container.practice__areas ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #959595;
    gap: 10px;
    font-family: var(--font-popins);
    font-size: 16px;
    margin-top: 20px;
}

#footer__section .footer__container.practice__areas ul li a {
    text-decoration: underline;
}

#footer__section .footer__container.practice__areas ul li:last-child a {
    text-decoration: none;
    color: var(--white-color);
}

#footer__section .footer__container.practice__areas ul li a:hover {
    text-decoration: none;
}

#footer__section .footer__container.about ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    color: var(--white-color);
    font-family: var(--font-popins);

}

#footer__section .footer__container.about ul li a {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
}

#footer__section .footer__container.contact-us>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 1rem;
}

#footer__section .footer__container.contact-us h4 {
    font-size: 25px;
    font-family: var(--font-popins);
    letter-spacing: 3px;
    font-weight: 500;
    color: #F0F0F0;
    line-height: 25px;
}

#footer__section .footer__container.contact-us p {
    font-size: 15px;
    font-weight: 500;
    color: #F0F0F0;
    font-family: var(--font-popins);
}

#footer__section .footer__container.contact-us .right-side {
    border-left: 1px solid rgba(255, 255, 255, 0.20);
    padding-left: 1rem;
}

#footer__section .footer__container.contact-us img {
    width: 1.5rem;
}

/* FOOTER SECTION ENDS */


/* FOOTER START */
footer {
    width: 100%;
    background: var(--text-color);
    color: #F0F0F0;
    padding: 15px;
    font-family: var(--font-Libre-Caslon-Text);
    font-size: 16px;
    text-align: center;
}

/* FOOTER ENDS */


/* WINDOW LOAD SHOW POPUP */
.popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: none;
    font-family: var(--font-popins);
}

.popup-content {
    background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 570PX;
    width: 85%;
}

.popup-heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup-text {
    margin-bottom: 20px;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
}

.popup-button {
    padding: 10px 20px;
    background: var(--white-color);
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    border: none;
    outline: none;
}

.popup-button span {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}


/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
    #hero__section h4 {
        font-size: 22px;
    }

    #hero__section h1 {
        font-size: 90px;
    }

    #hero__section h1.a_heading {
        font-size: 70px;
    }

    #hero__section h3 {
        font-size: 40px;
    }

    #leader__section .leader__section-right {
        gap: 2rem;
    }

    #practice__section>h3 {
        font-size: 25px;
    }

    #practice__section .practice__section-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #expertice__section .expertice__section-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    #expertice__section>h2 {
        font-size: 22px;
    }

    #expertice__section>p {
        font-size: 15px;
    }

    #client__section .client__section-top-content h3 {
        font-size: 30px;
    }

    #client__section .client__section-bottom-content p {
        font-size: 28px;
    }

    #mission__section .container h2 {
        font-size: 30px;
    }

    #pertners__section h2 {
        font-size: 33px;
    }

    #pertners__section .pertners__section-top {
        gap: 1rem;
    }

    #pertners__section h2 {
        font-size: 28px;
    }

    #blog__section h2 {
        font-size: 28px;
    }

    #blog__section .blog__section-container {
        column-gap: 3vw;
        padding: 0 2vw;
    }

    #contact__section .contact__section-heading h2 {
        font-size: 30px;
    }

    #contact__section .contact__section-heading img {
        width: 100px;
        height: 50.417px;
    }

    #contact__section .contact__section-heading p {
        font-size: 17px;
    }

    #footer__section .footer__container.contact-us h4 {
        font-size: 24px;
    }

    #footer__section {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
    }

    #footer__section .footer__container:nth-child(4) {
        width: 350px;
    }

    #footer__section .footer__container:nth-child(3) {
        border-right: none;
    }

    #contact__section .contact__center-section .contact-box p {
        font-size: 14px !important;
    }

    #contact__section .contact__center-section {
        display: flex !important;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 5rem;
        row-gap: 2rem;
    }


}


@media screen and (max-width: 768px) {
    header nav ul {
        position: fixed;
        max-width: 300px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        z-index: 8;
        top: 0;
        left: -100%;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5rem 3rem;
        background: linear-gradient(95.76deg, #FFCF24 16.95%, #F47E11 79.66%);
        font-size: 16px;
        transition: all .5s;
    }

    header nav .close__nav-btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 15px;
        width: 2.5rem;
        height: 2.5rem;
        border: 2px dashed #111111;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    header nav .open__nav-btn {
        display: block;
        cursor: pointer;
    }

    header nav ul.show {
        left: 0;
    }

    #hero__section h1 {
        font-size: 70px;
    }

    #hero__section h1.a_heading {
        font-size: 50px;
    }

    #hero__section h3 {
        font-size: 32px;
    }

    #hero__section h4 {
        font-size: 20px;
    }

    #hero__section .hero__section-container p {
        font-size: 14px;
    }

    #leader__section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    #leader__section .leader__section-left {
        width: 100%;
        margin: auto;

    }

    #leader__section .leader__section-right p {
        font-size: 14px;
    }

    #leader__section .leader__section-right h3 {
        font-size: 15px;
    }

    #practice__section .practice__section-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #practice__section .practice__section-container .practice__section__container-box p {
        font-size: 15px;
    }

    #practice__section .practice__section-main .practice__explore a {
        font-size: 17px;
    }

    #expertice__section>h2 {
        font-size: 20px;
    }

    #client__section .client__section-top-content h4 {
        font-size: 15px;
    }

    #client__section .client__section-top-content h3 {
        font-size: 25px;
    }

    #client__section .client__section-top-content {
        gap: 1rem;
    }

    #client__section .client__section-top-content p {
        font-size: 14px;
    }

    #client__section .client__section-bottom-content {
        flex-direction: column;
    }

    #client__section .client__section-bottom-content p {
        font-size: 22px;
        margin-top: 0;
    }

    #client__section .client__section-bottom-content h2 {
        font-size: 38px;
    }

    #mission__section .container {
        width: 100%;
    }

    #mission__section .container p {
        font-size: 15px;
    }

    #mission__section .container .images {
        width: 80px;
        height: 80px;
    }

    #mission__section .container .images span {
        width: 50px;
        height: 50px;
    }

    #pertners__section .pertners__section-top {
        flex-wrap: wrap;
    }

    #pertners__section h2 {
        font-size: 25px;
    }

    #blog__section h2 {
        font-size: 25px;
    }

    #blog__section .blog__section-container .blog__section-box h3 {
        font-size: 16px;
    }

    #blog__section .blog__section-explore a {
        font-size: 16px;
    }

    #contact__section .contact__section-heading h2 {
        font-size: 25px;
    }

    #contact__section .contact__section-heading img {
        width: 70px;
        height: 37.417px;
    }

    #contact__section .contact__section-heading p {
        font-size: 15px;
    }

    #contact__section .contact__section-heading form .contact__form {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    #contact__section .contact__section-heading form button span {
        font-size: 16px;
    }

    #client__section .client__section-top-content {
        width: 90%;
    }

    #mission__section .container .tab_box .tab_btn {
        padding: 7px 20px;
    }

    #mission__section .container .tab_box {
        width: 100%;
    }

    #footer__section {
        grid-template-columns: repeat(1, 1fr);
    }

    #footer__section .footer__container:nth-child(3),
    #footer__section .footer__container:nth-child(2) {
        padding: 0;
        border: none;
    }

    #mission__section .container .content_bg {
        width: 109px;
    }

    #contact__section .contact__center-section .contact-box:nth-child(2)::after {
        display: none;
    }

    #contact__section .contact__center-section .contact-box:nth-child(2)::before {
        display: none;
    }

    #contact__section .contact-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #contact__section .contact-container .bottom-box:nth-child(2)::before {
        display: none;
    }

    #contact__section .contact__section-bottom > h2 {
        font-size: 28px;
    }
}



@media screen and (max-width: 425px) {
    #hero__section h1.a_heading {
        font-size: 40px;
    }

    #mission__section .container .content_box {
        padding: 0;
    }

    #mission__section {
        padding: 3rem 0;
    }

    #mission__section .container .tab_box .tab_btn {
        font-size: 16px;
    }


    #mission__section .container .tab_box .tab_btn {
        padding: 6px 15px;
    }


    #mission__section .container .content_bg {
        width: 95px;
    }

    #footer__section .footer__container.contact-us>div {
        gap: .5rem;
    }

    #footer__section .footer__container.contact-us .right-side {
        padding-left: .5rem;
    }

    #footer__section .footer__container.contact-us img {
        width: 1.1rem;
    }

    #footer__section .footer__container.contact-us p {
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }

    #footer__section .footer__container:nth-child(4) {
        width: 100%;
    }

    #footer__section .footer__container.contact-us h4 {
        font-size: 22px;
    }

    #footer__section .footer__container .footer__logo .footer__top {
        font-size: 40px;
    }

    #footer__section .footer__container .footer__logo .footer__bottom {
        font-size: 24px;
        padding-bottom: 0;
    }

    #mission__section .container .content_box .content .mission__content-box {
        padding: 2rem 1rem;
    }

    #contact__section .contact__periouds h2 {
        font-size: 18px;
    }

    
    #contact__section .contact-container {
        grid-template-columns: repeat(1, 1fr);
    }

    
    #contact__section .contact-container .bottom-box:nth-child(2)::after {
        display: none;
    }

    .popup-text {
        font-size: 14px;
    }

    .popup-button span {
        font-size: 14px;
    }
}



@media screen and (max-width: 375px) {

    #pertners__section .pertners__section-top .pertners__section-top_box:nth-child(1),
    #pertners__section .pertners__section-top .pertners__section-top_box:nth-child(2),
    #pertners__section .pertners__section-top .pertners__section-top_box:nth-child(3) {
        width: 95%;
    }

    #pertners__section .pertners__section-bottom .pertners__section-bottom_box {
        width: 85%;
    }

    #expertice__section .expertice__section-container .expertice__content {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #mission__section .container .tab_box .tab_btn {
        font-size: 15px;
        padding: 6px 14px;
    }

    #practice__section {
        padding: 0 1rem !important;
    }
}


